/* Kezd. Méretek */
body {
    margin: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    height: 100vh;
}

#ablak {
    width: 1200px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 70px;
}

#kep {
    width: 1200px;
    height: 400px;
    opacity: 0.7;
    }

#feliratok {
    width: 1100px;
    height: 150px;
}

/* Nem kezelte akkor, amikor még container nevet adtam a html-ben a nagy szöveges résznek.
container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Josefin Sans', sans-serif;
    background-color: red;
}
*/

/*Bef. Méretek */


/* Kezd. Kép és felirat, pozícionálás */
#ablak {
    position: relative;
}

#feliratok {
    position: absolute;
    bottom: 30px;
    left: 170px;
}

#Himynameis {
    font-family: 'Abril Fatface', cursive;
    font-size: 40px;
    font-weight: 500;
    margin: 0;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 60px;
    font-weight: 500;
    margin: 0;
    line-height: 0.3;
}
/* Bef. Kép és felirat, pozícionálás */



/*
Kezd. MINTA AZ IDÉZETRE!!!   Ez az egész kommentben van.
Kezd. Első idézet
blockquote {
    position: relative;
    width: 950px;
    padding: 70px;
    font-family: 'Abril Fatface', cursive;
    font-size: 65px;
    font-weight: 500;
    color: white;
    background-color: #222;
}

#idezojel {
position: absolute;
width: 72px;
left: 0;
top: 0;
}


// Kezd. ha ikon lenne az idézőjel
Ha ikon lenne az idézőjel, akkor így írnám meg a css-ben.
Kérdés: Idézőjel content-be mi kerülne pontosan?
blockquote::before {
    content: '"';
    position: absolute;
    left: 0;
    top: 0;
    top: -55px; .....
    transforM rotate(100deg);
    color: lime;
    font-size: 80px;
    font-weight: 500px;
}
// Bef. ha ikon lenne az idézőjel

Bef. Első idézet
Bef. MINTA AZ IDÉZETRE!!!  Ez az egész kommentben van.
*/










p, ul, .nagybetus, h3, h4, blockquote {
    text-align: left;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Josefin Sans', sans-serif;
}

.nagybetus {
    text-transform: uppercase;
    margin-bottom: 60px;
    font-size: 24px;
}

#vonal {
    border-top: 4px solid black;
    padding-top: 60px;
    }

.meret2 {
    line-height: 1.4;
}

h3.fent {
    line-height: 1.4;
}

h3 {
    margin-bottom: 0;
    margin-top: 33px;
}

h4 {
    margin-top: 0;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 15px;

}

.pici {
    font-size: 15px;
    line-height: 1.7;
}

#vonalFelett {
    margin-bottom: 45px;
}


blockquote {
    position: relative;
    width: 850px;
    padding: 40px;
    font-family: 'Abril Fatface', cursive;
    font-size: 55px;
    font-weight: 500;
    color: white;
    background-color: #222;
}

#idezojel {
position: absolute;
width: 55px;
left: 0;
top: 0;
}
